@import "mafs/build/index.css";

.MafsView {
  font-family: "Computer Modern Serif", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}
